footer {
    border-top: 1px solid $gris;
    margin-top: 80px;

    .logoFooter {
        font-size: 25px;
        color: $gris;
        margin: 15px 0px;
        display: inline-block;
    }
    .copyrightFooter {
        display: inline-block;
        font-size: 12px;
        margin-left: 20px;
    }
}