/* Header */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px 0px 10px;

    @include media(xxt) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.menuConfig {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}
.nav {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: $gris;
    margin: 20px 0px 0px;

    @include media(xxt) {
        margin: 20px 0px;
    }
}
.navMenu {
    max-width: 25px;
    height: auto;
    width: 100%;
}
.navConfig, .navAlert {
    max-width: 25px;
    height: auto;
    width: 100%;
}
.bwMode {
    max-width: 35px;
    height: auto;
    width: 100%;
}
.logoHeader {
    font-size: 30px;
    color: $gris;
    margin: 15px 0px;

    @include media(xxt) {
        margin: 5px 0px;
    }
}
.menuHeader {
    color: $gris;
    font-size: 18px;
    font-weight: 300;
}
.menuHeader.active {
    font-weight: 500;
}
.NameMenu {
    font-size: 15px;
}